* {

    outline: 2px solid rgb(255, 255, 255);
}

:root {

    font-size: 124px;
    color: rgb(255, 255, 255);
    
}

#main-container {

    width: 100%;
    height: 500px;
    padding: 10px;
    background-color: rgb(81, 81, 81);
    display: flex; /* This rule activates flex layout for a container */
    flex-direction: row; /* determines the direction of the content flow */
    justify-content: flex-start; /* align items based on the main axis */
    align-items: center; /* align items based on the cross axis */
    gap: 28px; /* Only available for flex and grid mode */

    overflow: scroll;

}

#main-container div {

    background-color: rgb(186, 186, 186);
    padding: 15px;
    min-width: 350px;
    min-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#second-container {
    width: 100%;
    height: 125px;
    padding: 16px;
    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 16px;

    overflow: scroll;
}

#second-container div {

    padding: 10px;
    min-height: 125px;
    min-width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}