
#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 93, 93);
} 
#chessboard {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#chessboard div {
    outline: rgb(34, 255, 0);
    width: 100px;
    height: 100px;
}
.black {
    align-content: center;
    text-align: center;
    color: white;
    background-color: rgb(0, 51, 39);
    transition: transform 0.5s ease-in-out;
}

.white {
    align-content: center;
    text-align: center;
    color: black;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

.white:hover {
    background-color: lightcoral;
    color: aquamarine;
    transform: scale(1.3); rotate: calc(20deg);
}

.black:hover {
    background-color: aquamarine;
    color: lightcoral;
    transform: scale(1.3); rotate: calc(20deg);
}