:root {
    font-size: 18pt;
    font-family: "pf-fuel-grime", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0, 0);
    background-image: url(https://imgs.search.brave.com/wfX0SFm-KMP8bBpD6P3Yk2Vz-bZ3Krg-uAg8V2HCOQQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9naWZk/Yi5jb20vaW1hZ2Vz/L2hpZ2gvdmFsb3Jh/bnQtYWdlbnQtdmlw/ZXItZ3VuLXQ3amdo/bDgweHBwaHh1cWYu/Z2lm.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header, nav, main, footer {
  
}

header {
    background-color: rgb(0, 173, 9);
    height: 200px;
    font-size: 3rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: rgb(23, 46, 25, 0.9);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
  
}

nav a:link {

    
    color: rgb(255, 255, 255);
    

}

nav a:hover {

    background-color: rgb(94, 94, 94);
    color: rgb(255, 255, 255);
    transform: scale(1.5);
   
    
}

nav a:focus {

    background-color: rgb(36, 29, 69);
    color: rgb(255, 255, 255);
    transform: scale(1.5);
   
    
}

main {
    background-color: rgb(39, 26, 26, 0.0);
    display: flex;
    flex-direction: row;
    gap: 0px;
}

aside {
    background-color: rgb(23, 46, 25, 0.9);
    font-display: auto;
    font-size: 42px;
    width: 350px;
    height: 850px; 
    padding: 15px;
    color: white;

    display: flex;
    flex-direction: column;
}

aside a {

    color: white;
    text-decoration: none;
}

aside a:hover{

    color: rgb(39, 26, 26);
    text-decoration: underline;
}

.stats {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    min-height: 50px;
    min-width: 50px;
    height: 150px;
    width: 150px;
    background-color: rgba(255, 187, 187, 0.2);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 25px;
    box-sizing: border-box;
    text-align: center;
    gap: 20px;
    margin: 20px;
    transition: transform 0.5s ease-in-out;
}

.stats:hover {
    background-color: rgb(5, 56, 0);
    color: white;
    transform: scale(1.1);
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0); 
    flex-grow: 4; 
    align-content: flex-end;
    justify-items: normal;
    max-height: 1000px;
    gap: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 45px;
  padding-bottom: 40px;
  text-align: center;
}