:root {
    font-size: 18pt;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: brown;
    background-image: url(https://i.pinimg.com/originals/2d/d1/f0/2dd1f0d601311527c878a67b6d74226b.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header, nav, main, footer {
  
}

header {
    background-color: rgb(142, 0, 0);
    height: 200px;
    font-size: 3rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: rgb(39, 26, 26);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
  
}

nav a:link {

    
    color: rgb(255, 255, 255);
    

}

nav a:hover {

    background-color: rgb(91, 50, 50);
    color: rgb(255, 255, 255);
    transform: scale(1.5);
   
    
}

nav a:focus {

    background-color: rgb(36, 29, 69);
    color: rgb(255, 255, 255);
    transform: scale(1.5);
   
    
}

main {
    background-color: rgb(39, 26, 26);
    display: flex;
    flex-direction: row;
    gap: 0px;
}

aside {
    background-blend-mode: soft-light;
    background-color: rgb(154, 0, 0);
    width: 350px;
    height: 850px; 
    padding: 15px;
    color: white;

    display: flex;
    flex-direction: column;
}

aside a {

    color: white;
    text-decoration: none;
}

aside a:hover{

    color: rgb(39, 26, 26);
    text-decoration: underline;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    min-height: 50px;
    min-width: 50px;
    height: 200px;
    width: 200px;
    background-color: rgb(169, 169, 169);
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 25px;
    box-sizing: border-box;
    text-align: center;
    gap: 20px;
    margin: 20px;
    transition: transform 0.5s ease-in-out;
}

.stats:hover {
    background-color: rgb(103, 0, 0);
    color: white;
    transform: scale(1.2);
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: rgb(95, 95, 95); 
    flex-grow: 4; 
    align-content: flex-start;
    justify-items: flex-start;
    max-height: 1000px;
    gap: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 45px;
  padding-bottom: 40px;
  text-align: center;
}