:root {
    font-family: "carbon", sans-serif;
font-weight: 900;
font-style: normal;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
}
body {
  background-image: url(https://imgs.search.brave.com/H2ctxBDmxRz8D3AQCOxV9_VUtSFcCpRQlt6s6qQjRTc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NjkwMjY5MDU5MTIt/OGNkYWM2M2E4MDg0/P2ZtPWpwZyZxPTYw/Jnc9MzAwMCZhdXRv/PWZvcm1hdCZmaXQ9/Y3JvcCZpeGxpYj1y/Yi00LjEuMCZpeGlk/PU0zd3hNakEzZkRC/OE1IeHpaV0Z5WTJo/OE1ueDhZbXgxWlNV/eU1IZGhkbVZ6ZkdW/dWZEQjhmREI4Zkh3/dw);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.portrait {
  flex-shrink: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-style: dashed;
    border-color: rgb(255, 255, 255);
    width: 280px;
    margin-top: 20%;
    margin-left: 20%;
}

.name {
  color: rgb(255, 255, 255);
    font-size: 64px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 20px 20px;
    animation: fontSizeChange 1.5s ease-in-out infinite alternate;
}
@keyframes fontSizeChange {
  0% {font-size: 60px;}
  100% {font-size: 72px;}
}
.bio {
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.200);
    backdrop-filter: blur(6px);
}
.bio p {
  color: rgb(255, 255, 255);
    font-family: "novecento-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 30px 10px;
    font-size: 36px;
    text-align: center;
    justify-content: center;
}
footer {
  color: white;
    text-align: center;
    padding: 30px;
}
.portrait img {
    width: 100%;
    height: auto;
    display: block;
}
.bio-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}