h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(146, 146, 146);
    padding: 0.5cm;
    text-align: center;
}
p {
    text-align: center;
}
footer {
    background-color: rgba(255, 255, 255, 0);
    padding: 1.1cm;
    text-align: center;
    color: rgb(63, 63, 63);

}
body {
    text-align: center;
    align-items: center;
    background-color: rgb(146, 146, 146);
    color: rgb(255, 255, 255);
}
h2 {
    background-color: rgb(146, 146, 146);
    color: rgb(255, 255, 255);
}
body {
    font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
footer {
   font-family: 'Oswald', sans-serif;
  font-weight: 300;
  background-color: rgb(255, 255, 255);
  margin-top: 2cm;
}
img {
     margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    background-color: rgb(66, 66, 66);
    padding: 1.5cm;
}