h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(183, 183, 183);
    text-align: center;
    padding: 2cm;
    font-size: 3cm;
    margin-bottom: 0.5cm;
    margin-top: 0cm;
}

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

footer {
    background-color: rgb(186, 186, 186);
    padding: 2cm;
    text-align: center;
    margin-top: 1cm;
}
h2 {
    margin-bottom: 8cm;
}
h3 a {
  color: rgb(34, 0, 255);
  text-decoration: none;
  margin-bottom: 10ch;
  font-size: 4ch;
}
h3 a:hover {
  text-decoration: underline;
  opacity: 0.8;
}