* {
    margin: 0;
}
h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(65, 65, 65);
    text-align: center;
    padding: 2cm;
    font-size: 3cm;
    margin-bottom: 1cm;
    margin-top: 0cm;
}

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background-color: rgb(143, 143, 143);
    color: white;
}

footer {
   position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(50, 50, 50);
  padding: 45px;
  padding-bottom: 40px;
  text-align: center;
}
h2 {
    margin-bottom: 2cm;
}
h3 a {
    margin-top: 24px;
    margin-bottom: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 10ch;
  font-size: 4ch;
}
h3 a:hover {
  text-decoration: underline;
  opacity: 0.8;
  color: azure;
}
.image {
    margin: auto;
    display: flex;
    height: 300px;
    width: 30%;
    padding: 25px;
    background: rgb(59, 59, 59);
    background-image: url(https://media1.tenor.com/m/HNObdUglgfgAAAAC/skeleton-banging-shield.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25%;
}