
h1 {
    margin-top: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 65, 65);
    text-align: center;
    font-size: 3cm;
    background-position: 0;
}
p {
    margin: 0;
    margin-top: 20px;
}
body {
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background-color: rgb(143, 143, 143);
    background-image: url(https://media1.tenor.com/m/HNObdUglgfgAAAAC/skeleton-banging-shield.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

footer {
    background-color: black;
    margin-top: auto;
  width: 100vw;
  padding: 20px;
  font-size: 12px;
  color: rgb(255, 255, 255);
}
h3 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 4ch;
  align-self: baseline;
}
h3 a:hover {
  text-decoration: underline;
  opacity: 0.8;
  color: azure;
  margin: 30px;
}

.image {
    margin: auto;
    display: flex;
    height: 300px;
    width: 30%;
    padding: 25px;
    background: rgb(59, 59, 59);
    border-radius: 25%;
}

a {
    color: rgb(255, 0, 0);
    text-decoration: solid;
    transition: transform 0.5s ease-in-out;
}
a:hover {
    color: blueviolet;
    transform: scale(1.3);
}
.line {
    background-color: beige;
    width: 100vw;
    height: 2px;
    margin: 5px;
}