h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(183, 183, 183);
    text-align: center;
    padding: 2cm;
    font-size: 3cm;
    margin-bottom: 0.5cm;
    margin-top: 0cm;
}

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

footer {
    background-color: beige;
    padding: 2cm;
    text-align: center;
}
h2 {
    margin-bottom: 8cm;
}