:root {
    font-family: "pf-fuel-grime", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-size: 100px;
    color: rgb(255, 255, 255);
    justify-self: center;
    background-color: blueviolet;
    background-size: auto;
    padding: 20px;
    border-radius: 25%;
}